/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_custom.dtsi"

&default_transform {

    col-offset = <7>;

};

&right_encoder {
    status = "okay";
};

&right_encoder_key {
    status = "okay";
};
