#include "cantanker.dtsi"

&kscan0 {
    row-gpios
        = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 9  GPIO_ACTIVE_HIGH>
        , <&pro_micro 8  GPIO_ACTIVE_HIGH>
        , <&pro_micro 5  GPIO_ACTIVE_HIGH>
        , <&pro_micro 4  GPIO_ACTIVE_HIGH>
        , <&pro_micro 3  GPIO_ACTIVE_HIGH>
        , <&pro_micro 2  GPIO_ACTIVE_HIGH>
        ;
};

&default_transform {
    col-offset = <7>;
};

&right_encoder {
    status = "okay";
    resolution = <25>;
};

/ {
    right_encoder_key: right_encoder_key {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios = <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

&kscan_composite {
    direct_right {
        kscan = <&right_encoder_key>;
        row-offset = <0>;
        col-offset = <13>;
    };
};

&pro_micro_i2c {
    status = "okay";
    
    tps43: trackpad@74 {
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;
        rdy-gpios = <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

/ {
    trackpad_listener {
        compatible = "zmk,input-listener";
        device = <&tps43>;
        
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        
        /* Optional: Add taps if you want clicking */
        one-finger-tap-button = <0x110>; /* Mouse Left Click */
        two-finger-tap-button = <0x111>; /* Mouse Right Click */
    };
};